body{
    
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-style: normal;
    
}
header{
    display: flex;
    justify-content: space-between;
    font-size: medium;
    background-color: rgb(101,161,91);
    color: white;
    padding: 0px 10px;

}
#right_upper{
    display: flex;
    gap: 20px;
}
#nav_Icons{
    display: flex;
    margin-top: 30px;
    gap: 20px;
}
.nav-icons{
    height: 25px;
}
#first_section{
    display: flex;
    justify-content: space-between;
}
.navbar{
    margin-top: 30px;
    padding: 0px 20px;
    
}
#first_img{
    position: relative;
    text-align: center;
    color: white;
   
}
.top_words{
    position: absolute;
    top: 35%;
    left: 25%;
    transform: translate(-50%, -50%);
}
.IMG1{
    opacity: 90%;
    filter: brightness(100%);
    width:160%;
}
#up_img{
    display: flex;
}
#second_section{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
}
.small_pics{
    display: flex;
}
#third_section{
    display: flex;
     justify-content: space-between;    
    padding: 0 50px;
   
}
#small3{
    display: flex;
    margin-top: 100px;
    font-size: 10px;
    
   }
   .smol{
    padding: 20px;
    font-weight: bolder;
    font-size: 25px;
    color:black;
    margin-top: 10px;
    margin-left: 35%;
   }
   .special_small{
    height: 1px;
    padding: 20px;
    color: grey;
    font-size: 25px;
    margin-top: 10px;
    border-left: 2px solid black;
    border-right: 2px solid bl;
   }
   .left_three{
    display: flex;
   }
   #shopNow{
    background-color: rgb(110,168,32);
    color: white;
    border: none;
    border-radius: 3px;
    height: 35px;
    width: 140px;
   }
   #fourth_section{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
   }
   #RIGHT_IMG{
    margin-left: 200px;
   }
   #featured{
    margin-left: 35%;
   }
   #fifth_section{
    display: flex;
    justify-content: space-between;
    padding: 0px 50px;
   }
   #Tree{
    margin-top: 20px;
   }
   #sixth_section{
    display: flex;
    margin-left:15% ;
    margin-top: 50px;
    gap: 100px;
   }
   #Amazing{
    padding: 0 50px;
   }
   #eighth_section{
    display: flex;
    padding: 0px 50px;
    justify-content: space-between;
   }
   #Tree1{
    margin-top: 50px;
   }
   #ninth_section{
    display: flex;
    gap: 80px;
    padding: 0px 50px;
   }
   #testimonials{
    display:flex;
    justify-content: space-between;
    
    padding: 0 50px;
   }
   .side{
    width:150px;
    height: 120px;
    border-radius: 30px;
    margin-top: 20px;
   }
   #middle{
   width: 300px;
   height: 150px;
   border-radius: 30px;
   }
   .arrows{
    width:150px;
     height:100px;
     margin-top: 20px;
   }
   #sub{
    background-color: rgb(110,168,32);
    color: white;
    border: none;
    width: 305px;
    height: 50px;
   }
   #icons{
    display: flex;
    gap: 50px;
    margin-left: 50px;
   }
   #last_section{
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
   }
   #cristina{
    margin-left: 35%;
   }
  

   @media screen and (max-width:768px) {
    body{
        width: 100%;
        padding: 0;
        margin: 0;
        overflow: hidden;
    }
    header{
        width: 280px;
        font-size: 3px;
        font-weight: bolder;
        height: 20px;
        margin: 0;

    }
    #first_section{
        font-size: 5px;
        width: 280px;
    }
    #VALLONA{
        margin-top: 28px;
    }
    .nav-icons{
        width: 8px;
        height: 8px;
    }
    #nav_Icons{
        gap: 0px;
    }
    #second_section{
        width: 280px;
    }
    .IMG1{
        width: 100px;
        height: 120px;
        margin-left: -40px;
    }
    #up_img{
        font-size: 10px;
        padding: 5px;
    }
    #up_img1{
        font-size: 5px;
    }
    .orchid{
        height: 130px;
    }
    .first_style{
        width: 100px;
        height: 130px;
        margin-left: -30px;
    }
    #third_section{
        width: 280px;
        display: block;
        flex-wrap: wrap;
    }
    .small_pics{
        height: 100px;
        margin-left: -50px;
        font-size: 10px;
    }
    .third_sectionimg{
        margin-left: 10px;
        width: 200px;
    }
    #small3{
        margin-left: -55%;
        font-size: 5px;
    }
    .smol{
        font-size: 10px;
    }
    .special_small{
        font-size: 10px;
    }
    .auctor{
        width: 50px;
        height: 50px;
    }
    .auctor_div{
        font-size: 6px;
        
    }
    .left_three{
        margin-left: -60px;
    }
    #r_img{
        width:100px;
        height: 100px;
        margin-left: -30%;
       
    }
    .down_fancy{
        margin-left: -30px;
    }
    #RIGHT_IMG{
        margin-left: -0%;
        margin-top: -5%;
        font-size: 9px;
    }
    #shopNow{
        width: 100px;
    }
    #fourth_section{
        width: 280px;
    }
    #featured{
        margin-left: 1%;
        font-size: 10px;
    }
    #fifth_section{
        width: 280px;
        font-size: 6px;
    }
    #fancy{
        width: 120px;
        height: 155px;
        margin-left: -15%;
    }
    .free{
        margin-left: -25%;
    }
    .leaves1{
        width: 100px;
        height: 100px;
        margin-left: -17%;
    }
    .leaves2{
        width: 120px;
        height: 120px;
        margin-left: -32%;
    }
    #living{
        font-size: 3px;
        margin-left: -22%;
    }
    #Amazing1{
        font-size: 20px;
        margin-left: -0.5%;
    }
    #Amazing{
        width:280px;
        margin-left: -6%;
    }
    .aliquam{
        width: 60px;
        height: 60px;
    }
    .bigs_3{
        margin-left: -6%;
        font-size: 7px;
    }
    #Tree1{
        font-size: 7px;
        margin-left: -1%;
    }
    .cacti_pot{
        width: 100px;
        height: 120px;
        margin-top: 50px;
        margin-left: -100px;
        
    }
    #eighth_section{
        width: 280px;
        padding: 0px;
        gap: 0;
    }
    #from{
        margin-left: -5%;
        font-size: 15px;
    }
    #ninth_section{
        width: 280px;
        padding: 0px;
        margin-left: 60px;
    }
    .blog1{
        font-size: 3px;
        margin-left: -20%;
    }
    .blog_im{
        width: 50px;
        height: 50px;
    }
    .person{
        height: 10px;
    }
    .Byjinos{
        margin-top:-1% ;
        margin-left: -2%;
    }
    .love{
        margin-left: -50%;
        font-size: 10px;
    }
    .arrows{
        width:10px;
        height: 10px;
    }
    .side{
        width: 40px;
        height: 40px;
    }
    #middle{
        width: 80px;
        height: 80px;
    }
    #testimonials{
        width:280px;
        margin-left: -5%;
    }
    #cristina{
        font-size: 7px;
        margin-left: -1%;
    }
    .quick{
        font-size: 6px;
    }
    #last_section{
        width:280px;
        margin-left: -5%;
    }
    #sub{
        width: 50px;
        height: 25px;
        font-size: 6px;
    }
    #in{
      font-size: 5px;
    }
    form{
        width:10px;
    }
    #icons{
        padding: 0px;
        gap:0px;
        margin-left: -5%;
    }
    .licons{
        height: 10px;
    }

    
   }




